.character-card > * {
  @apply absolute;
}

.character-card:hover > :last-child {
  @apply block;
  animation-name: up;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
}

@keyframes up {
  0% {
    @apply -bottom-12;
  }
  100% {
    @apply bottom-0;
  }
}
