@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-w-[360px] min-h-screen bg-[#cecbc0];
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply pb-4;
  }

  picture {
    @apply flex;
  }

  button,
  .button {
    @apply border border-[#b5c226] rounded-lg py-[3px] px-3 bg-[#17859e] text-white shadow shadow-[#d0db4b]/40;
  }
}

.status-alive {
  @apply bg-emerald-600;
}

.status-dead {
  @apply bg-red-800;
}
