@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-w-[360px]  bg-[#A6B6A2];
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply min-h-screen;
  }

  picture {
    @apply inline-flex;
  }
}

.status-alive {
  @apply bg-emerald-600;
}

.status-dead {
  @apply bg-red-800;
}
